<div class="purchased-list">
  <h4>Carrinho de Itens 🛒</h4>
  <h6><strong>💸 Total:</strong> {{buyPrice | currency:'BRL'}}</h6>

  <ng-container *ngFor="let categoryObj of purchasedItems">
    <h5>{{ categoryObj.category | titlecase }}</h5>
    <ul *ngIf="categoryObj.products.length > 0; else noItems">
      <li *ngFor="let item of categoryObj.products; let i = index">
        <app-card-buy-item [name]="item.name" [price]="item.price" (remove)="removeFromPurchasedItems(categoryObj.category, i)"></app-card-buy-item>
      </li>
    </ul>
  </ng-container>

  <ng-template #noItems>
    <p class="text-default">Nenhum item foi adicionado ainda 🛒.</p>
  </ng-template>
</div>